<div class="container" id="movements">
    <div class="row">
        <div class="col-12">
        <h1 id="movimientosTitle" class="text-center">Movimientos</h1>
            <table id="tablaMovimientos" class="table table-striped">
                <tr id="conceptosTitles">
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Cuenta</th>
                    <th>Categoria</th>
                    <th>Importe</th>
                    <th>Observacion</th>
                </tr>
                <% if (locals.movements) { %>
                    <% movements.forEach(movement => { %>
                        <tr>
                            <td><%= movement.fecha.toLocaleDateString() %></td>
                            <td><%= movement.tipo %></td>
                            <td><%= movement.nombre %></td>
                            <td><%= movement.categoria %></td>
                            <td><%= movement.importe %></td>
                            <td><%= movement.observacion %></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td>No hay movimientos</td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>
