<%- include("./partials/header.ejs") %>

    <div id="infoStatic">
        <% if(locals.users) {%>
            <form id="userForm" action="/user" method="POST">
                <% users.forEach(user => { %>
                    <button 
                            type="submit" 
                            class="btn btn-info text-black" 
                            name="user" 
                            value="<%= user.id %>" 
                            id="<%= user.id %>"
                    >
                        <%= user.nombre %>
                    </button>
                <%}); %>
            </form>
        <% } else { %>
            Prueba mas tarde.
        <% } %>
    </div>

        <%- include("./partials/ingresos") %>
        <%- include("./partials/egresos") %>
        <%- include("./partials/movimientos") %>
        <%- include("./partials/cuentas") %>
        <%- include("./partials/transferencias") %>
        <%- include("./partials/resumen") %>
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/scripts/scripts.js" async defer></script>
    </body>
</html>